@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/harry-potter');
/* font-family: "Braah One", sans-serif; */

body{    
    font-family: 'Harry Potter', sans-serif;
    background-color: #EEEEEE;
    background-image: url(./assets/gifcastillo.gif);
    background-size: 1470px 703px;
    
}


#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #FFB22C;
    font-size: 52px;
}

.subtitulo {
    color: #FFB22C;
    font-size: 32px;
    margin-top: auto;
}

.tarjetas{
    display: flex;
    gap: 10px;
    font-size: 17px;
    /* font-weight: bolder; */
    text-shadow: 1px 1px 0px #854836;
    color: #FFB22C;
}

.tarjeta-de-hipodoge{
    width: 182px;
    height: 262px;
    padding: 1px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(./assets/fondo-de-tarjeta-negro-dorado.jfif);
    background-size: 180px 265px;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}

.tarjeta-de-hipodoge:hover {
    cursor: pointer;
}

.tarjeta-de-hipodoge img{
    width: 162px;
}

.tarjeta-de-capipepo {
    width: 182px;
    height: 262px;
    padding: 1px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(./assets/fondo-de-tarjeta-negro-dorado.jfif);
    background-size: 180px 265px;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-capipepo:hover {
    cursor: pointer;
}

.tarjeta-de-capipepo img{
    width: 122px;
}

.tarjeta-de-ratigueya {
    width: 182px;
    height: 262px;
    padding: 1px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(./assets/fondo-de-tarjeta-negro-dorado.jfif);
    background-size: 180px 265px;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-ratigueya:hover {
    cursor: pointer;
}

.tarjeta-de-ratigueya img{
    width: 162px;
}

.boton-de-tarjeta-mokepon{
    width: 30px;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #000000;
    margin: 5px;
    border: 3px solid #FFB22C;
}

.boton-seleccionar-mokepon:hover{
    cursor: pointer;
    background-color: #FFB22C;
    
}

input {
    display: none;
}

.boton-seleccionar-mokepon {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid black;
    margin: 5px;
    width: 404px;
    height: 30px;
    padding: 4px;
    background-color: #ffb22c96;
    color: #000000;
}